html, body {
    background: #000;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#qchart {
    position: fixed;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

.qchart__container {
    border: 1px solid #111;
    border-left: 0;
    border-right: 0;
}
