.qchart {
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    position: relative;
}

.qchart__container {
    position: relative;
    width: 100%;
}

.qchart__manager {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.qchart__buffers-container {
    position: relative;
    height: 100%;
}

.qchart__buffer {
    position: absolute;
    top: 0;
}

.qchart__middle-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
}

.qchart__middle-dots {
    position: absolute;
    left: 50%;
    top: 0;
}

.qchart__middle-dot {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    z-index: 20;
    border-style: solid;
}

.qchart__current-date {
    text-align: center;
    height: 1.5em;
}

.qchart__current-values {
    width: 100%;
    table-layout: fixed;
    display: table;
    height: 1.5em;
}

.qchart__current-value {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
